{% extends "DzangocartBundle::layout.html.twig" %}

{% trans_default_domain "dzangocart" %}

{% block dzangocart_page_title %}{% trans %}dzangocart.purchases.page_title{% endtrans %}{% endblock %}
{% block dzangocart_content %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th class="check"><input type="checkbox" id="checkall" /></th>
            <th class="date">{% trans %}dzangocart.purchases.date{% endtrans %}</th>
            <th class="order_no">{% trans %}dzangocart.purchases.number{% endtrans %}</th>
            <th class="customer">{% trans %}dzangocart.purchases.customer{% endtrans %}</th>
            <th class="currency">{% trans %}dzangocart.purchases.currency{% endtrans %}</th>
            <th class="net">{% trans %}dzangocart.purchases.net{% endtrans %}</th>
            <th class="tax">{% trans %}dzangocart.purchases.tax{% endtrans %}</th>
            <th class="gross">{% trans %}dzangocart.purchases.gross{% endtrans %}</th>
            <th class="paid">{% trans %}dzangocart.purchases.paid{% endtrans %}</th>
            <th class="affiliate">{% trans %}dzangocart.purchases.affiliate{% endtrans %}</th>
            <th class="demo">{% trans %}dzangocart.purchases.test{% endtrans %}</th>
            <th class="actions">{% trans %}dzangocart.purchases.actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<pre>{{ config|json_encode }}</pre>
<pre>{{ class }}</pre>
<pre>{{ config2|json_encode }}</pre>
<pre>{{ baseUrl }}</pre>
<pre>{{ token }}</pre>
<pre>{{ data }}</pre>
{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter="cssrewrite" output="css/*.css"
        'bundles/uamdatatables/css/jquery.dataTables_bootstrap.css'
        'bundles/dzangocart/css/purchases.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
    {{ parent() }}
    <script>
    dzangocart.purchases = {
        dataTables: {
            sAjaxSource: "{{ path('dzangocart_purchases') }}"
        }
    };
    </script>
{% endblock head_script %}

{% block foot_script %}
    {{ parent() }}
    {% javascripts
        'bundles/porotcore/js/vendor/handlebars.js'
        'bundles/uamdatatables/js/jquery.dataTables.min.js'
        'bundles/uamdatatables/js/jquery.dataTables_bootstrap.js'
        'bundles/dzangocart/js/scripts/purchases.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}