{% for id, item in catalogue %}
	<tr data-tt-id="{{ id }}" {% if item.parent_id != 0 %} data-tt-parent-id="{{ item.parent_id }}" {% endif %}>
		<td>{{ item.name }}</td>
		<td>{{ item.code }}</td>
		<td>{{ item.pcode }}</td>
		<td>{{ item.price }}</td>
		<td>{{ item.tax_included ? '<i class="fa fa-check">' : '<i class="fa fa-times">' }}</td>
	</tr>
{% endfor %}