{% for id, value in catalogue %}
    <tr data-tt-id="{{ id }}" {% if value.parent_id != 0 %} data-tt-parent-id="{{ value.parent_id }}" {% endif %}>
        <td>{{ value.name }}</td>
        <td class="number">{{ value.code }}</td>
        <td>{{ value.tax_included }}</td>
        <td>{{ value.fixed_price }}</td>
    </tr>
{% endfor %}