{% use "form_div_layout.html.twig" %}

{% block form_widget -%}
	{% if compound %}
		{{- block('form_widget_compound') -}}
	{% else %}
		{{- block('form_widget_simple') -}}
	{% endif %}
{%- endblock form_widget %}

{% block form_widget_simple -%}
	{% set type = type|default('text') -%}
	{% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}

{% block checkbox_widget -%}
	<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}

{% block submit_widget -%}
	{% set type = type|default('submit') %}
	{% set attr = attr|merge({ 'class': (attr.class|default('') ~ 'btn btn-primary')|trim }) %}
	{{- block('button_widget') -}}
{%- endblock submit_widget %}

{% block form_label -%}
	{% set attr = attr|merge({ 'class': (attr.class|default('') ~ 'btn btn-primary')|trim }) %}
	{% if label is not sameas(false) -%}
		{% if not compound -%}
			{% set label_attr = label_attr|merge({'for': id}) %}
		{%- endif %}
		{% if required -%}
			{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
		{%- endif %}
		{% if label is empty -%}
			{% set label = name|humanize %}
		{%- endif -%}
		<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
	{%- endif %}
{%- endblock form_label %}
